.Header {
  .HeaderMain {
    display: flex;
    justify-content: center;
    background-color: red;
  }
  .HeaderMenu {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 46);

    height: 50px;
    .HeaderMenuContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30%;
      a,
      button {
        background-color: rgb(46, 46, 46);
        border: 0;
        font-size: 18px;
        text-decoration: none;
        color: rgb(211, 211, 211);
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
    .HeaderInputContainer {
      position: absolute;
      top: 25%;
      left: 65%;
      .searchContainer {
        position: relative;
        input {
          padding-left: 5px;
          height: 25px;
          width: 250px;
          &::placeholder {
            color: red;
          }
        }
        button {
          position: absolute;
          top: 3px;
          right: 10%;
          border: 0;
          color: white;
          background-color: white;
          font-size: 16px;
          height: 16px;
          line-height: 22px;
          cursor: pointer;
        }
        a {
          position: absolute;
          top: 3px;
          right: 1%;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .Header {
    .HeaderMenu {
      .HeaderMenuContainer {
        width: 100%;
      }
      .HeaderInputContainer {
        top: 100%;
        left: 20%;
      }
    }
  }
}
