.FavoritesTitle {
  color: white;
  width: 100%;
  text-align: center;
}
.FavoriteCardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.FavoriteDeleteBtn {
  width: 90%;
  color: red;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 0px;
  &:hover {
    color: rgb(107, 107, 107);
    border: 1px solid;
  }
}
