.heroesMainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 80vh;
  padding: 20px;
}

.heroCard {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
  img {
    transition: 0.7s;
  }

  &:hover img {
    transform: scale(1.1);
  }
  &:hover .cardName {
    height: 50px;
  }
}
.cardName {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 20px;
  color: white;
  background-color: rgb(255, 0, 0, 0.8);
  text-align: center;
  overflow: hidden;
  transition: 0.7s;
}
.Loading {
  width: 100%;
  height: 3px;
}
