.HeroPageContainer {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  .HeroContainer {
    width: 60%;
    .HeroNameContainer {
      width: 100%;
      padding: 10px 0px;
      text-align: center;
      font-size: 32px;
      font-weight: 900;
      color: white;
    }
    .HeroImgContainer {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    img {
      border-radius: 30px;
      filter: drop-shadow(0px 0px 22px rgb(250, 250, 250));
      animation-name: img-shadow;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease;
    }
  }
  .HeroFavorites {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid white;
    .HeroRating {
      img {
        filter: brightness(50%);
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
  .HeroDiscription {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    span {
      margin-top: 100px;
      margin-left: 20px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
@keyframes img-shadow {
  from {
    filter: drop-shadow(0px 0px 5px red);
  }
  to {
    filter: drop-shadow(0px 0px 15px rgb(246, 123, 123));
  }
}
