.Loading {
  width: 100%;
  height: 3px;
  background-color: red;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes loading {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
